.tasks {
    width: 100%;
    background-color: rgb(215, 233, 248);
}

.tasks h1 {
    margin: 0;
    padding: 1% 0;
    color: rgb(13, 117, 151);
    text-align: center;
}
.tasks h3 {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}


.tasks-main {
    width: 80%;
    margin: 0 auto;
    padding: 1% 0 5%;

}

.tasks-main_form {
    width: 68%;
    margin: 0 auto 1%;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px rgb(215, 233, 248) !important;
    -webkit-text-fill-color: #000 !important;
    color: #000 !important;
}

.tasks-main_form-textinput {
    width: 84%;
    margin: 0 0 0 0 !important;
}

.tasks-main_form-button {
    float: right;
    margin: 1% 0 0 0 !important;
}

.tasks-main_tasks {
    width: 70%;
    margin: 1% auto;    
}

.tasks-main_task {
    width: 96%;
    margin: 1% auto;    
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.3);
}

.tasks-main_task-clear {
    float: right;
    margin-top: -20px;
    cursor: pointer;
}

@keyframes Clear {
    0% {}
    50% { 
        transform: scale(1.2);
        color: red;
    }
    100% {}
}

.tasks-main_task-clear:hover {
    animation: ease-out .5s Clear infinite;
}

.tasks-main_task-text {
    width: 94%;
}


/* RESPONSIVE */
@media screen and (max-width: 1200px) {

    .tasks-main {
        width: 90%;
        margin: 0 auto;
        padding: 1% 0 5%;
    }

    .tasks-main_form-textinput {
        width: 82%;
        margin: 0 0 0 0 !important;
    }


}

@media screen and (max-width: 996px) {
    .tasks-main {
        width: 96%;
        margin: 0 auto;
        padding: 1% 0 5%;
    
    }

    .tasks-main_tasks {
        width: 80%;
        margin: 1% auto;    
    }

    .tasks-main_form {
        width: 78%;
        margin: 0 auto 1%;
    }

    .tasks-main_form-textinput {
        width: 82%;
        margin: 0 0 0 0 !important;
    }

}

@media screen and (max-width: 768px) {

    .tasks-main_tasks {
        width: 90%;
        margin: 1% auto;    
    }

    .tasks-main_form {
        width: 88%;
        margin: 0 auto 1%;
    }

    .tasks-main_form-textinput {
        width: 80%;
        margin: 0 0 0 0 !important;
    }

    .tasks-main_form-button {
        float: right;
        margin: 1.5% 0 0 0 !important;
    }

    .tasks-main_task {
        width: 96%;
        margin: 2% auto;    
        padding: 2%;
    }

}

@media screen and (max-width: 576px) {

    .tasks h1 {
        margin: 0;
        padding: 2% 0;
    }

    .tasks h3 {
        margin: 0;
        padding: 1% 0;
    }

    .tasks-main_tasks {
        width: 100%;
        margin: 1% auto;    
    }

    .tasks-main_form {
        width: 98%;
        margin: 0 auto 1%;
    }

    .tasks-main_form-textinput {
        width: 74%;
        margin: 0 0 0 0 !important;
    }
}


@media screen and (max-width: 380px) {

    .tasks-main_tasks {
        width: 100%;
        margin: 1% auto;    
    }

    .tasks-main_form {
        width: 98%;
        margin: 0 auto 1%;
    }

    .tasks-main_form-textinput {
        width: 64%;
        margin: 0 0 0 0 !important;
    }

    .tasks-main_form-button {
        float: right;
        margin: 2.5% 0 0 0 !important;
    }

    .tasks-main_task {
        width: 96%;
        margin: 3% auto;    
        padding: 2%;
    }

}

