.clock {
    width: 30%;
    margin-right: 200px;
}
.display {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5% 0 0;
    color: rgb(42, 177, 211);
    font-size: 24px;
    font-weight: 500;
}

.display-time {
    padding: 2%;
}
.display-date {
    padding: 2%;
}

.display-time_br {
    display: none !important;
}
.panel {
    width: 30%;
    padding: 1%;
    border: 1px solid red;
}

.panel-main {
    padding: 1%;
    color: aqua;
    border: 1px solid red;
}



/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .clock {
        width: 35%;
    }
    .display {
        margin: 8% auto;
        font-size: 16px;
    }


}

@media screen and (max-width: 1024px) {

    .display {
        margin: 8% auto;
        font-size: 18px;
    }


}

@media screen and (max-width: 768px) {
    .clock {
        width: 45%;
        margin-right: 160px;
    }
    .display {
        margin: 3% auto;
        font-size: 18px;
    }

}

@media screen and (max-width: 576px) {

    .clock {
        display: none;
    }

}

@media screen and (max-width: 450px) {


}


@media screen and (max-width: 380px) {

    .display {
        width: 60%;
        margin: 1.8% auto;
        font-size: 1rem;
        /*border: 1px solid red;*/
    }
    .display-time {
        float: center;
        width: 98%;
        padding: 1%;
        text-align: center;
    
    }
    .display-date {
        float: center;
        width: 95%;
        padding: 1%;
        text-align: center;

    }
    .display-time_br {
        display: block !important;
    }

}


@media screen and (max-width: 340px) {
    


}