
.about {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(215, 233, 248);
}

.about h1 {
    margin: 0;
    padding: 3% 0 1%;
    color: rgb(13, 117, 151);
    text-align: center;
}

.about-main {
    width: 100%;
    padding: 0 0 2% 0;
    margin: 0 auto;   
    background-color: rgb(215, 233, 248);
}

.about-clock {
    width: 200px;
    color: red;
    background-color: aqua;
}