.contact {
    width: 100%;
    padding-bottom: 3%;
    background-color: rgb(215, 233, 248);
}

.contact h1 {
    margin: 0;
    padding: 1% 0;
    color: black;
    text-align: center;

}

.contact h3 {
    margin: 0;
    padding: 0;
    color: black;
}

.contact-main {
    width: 30%;
    margin: 0 auto;  
    font-size: 1rem !important;  
}

.contact-main_form {
    padding: 2% 0;
}

.contact-main_form-textinput {
    width: 560px;
    padding: 1% 0;
}

.contact-main_tab {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: 12px 0;
    padding: 1%;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);

}

.contact-main_tab-person {
    width: 55%;
    display: flex;
}

.contact-main_tab-person_img {
    width: 60px;
    height: 60px;
    border-radius: 6px;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.contact-main_tab-person_name {
    padding: 10px;
}

.contact-main_tab-contact {
    width: 45%;
    padding: 10px;
}


/* RESPONSIVE */
@media screen and (max-width: 1200px) {

    .contact-main {
        margin: 0 auto; 
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .contact-main_tab {

        margin: 7px 0;
    }
    
}

@media screen and (max-width: 576px) {

    .contact-main_tab {
        flex-direction: column;
        width: 290px;
        margin: 7px 0;
        font-size: 14px;

    }

    .contact-main_tab-person {
        width: 300px;
    }

    .contact-main_form-textinput {
        width: 290px;
        padding: 1% 0;
    }

    .contact-main_tab-contact {
        width: 190px;
        padding: 10px 0 2px 85px;
        margin-top: -42px;
    }

    .contact-main_tab-person_name {
        padding: 2px 10px;
    }

    .contact-main_tab-person_img {
        width: 75px;
        height: 75px;
    }
    
}
