.footer {
    width: 100%;
    height: 817px;
    text-align: center;
    background-color: rgb(215, 233, 248);
    background-image: url(../../assets/img/FooterBack-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.footer-main {
    width: 80%;
    margin: 0 auto;
    padding: 10% 0 0;
}

.footer-main h3 {
    padding: 3% 0 0;
    text-align: center;
    color: rgb(215, 233, 248);
    letter-spacing: 1px;

}

.footer-main_blocklink {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 34%;
    margin: 0 auto;
    text-align: center;
}

.footer-main_link {
    color: rgb(215, 233, 248);
    text-decoration: none;
}

.footer-main_link:hover {
    color: rgb(136, 208, 221);
}

.footer-main_logo1 {
    width: 44%;
    margin: 0 auto;
}

.footer-main_logo2 {
    width: 6%;
    margin: 0 auto;
}


/* RESPONSIVE */
@media screen and (max-width: 1200px) {

    .footer-main_blocklink {
        width: 44%;
    }

    .footer-main_logo1 {
        width: 64%;
        margin: 0 auto;
    }

    .footer-main_logo2 {
        width: 12%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 996px) {

    .footer-main {
        padding: 22% 0 0;
    }

    .footer-main_blocklink {
        width: 54%;
    }


}

@media screen and (max-width: 768px) {


    .footer-main_blocklink {
        width: 74%;
    }

    .footer-main_logo1 {
        width: 78%;
    }


}

@media screen and (max-width: 576px) {
    .footer-main {
        padding: 32% 0 0;
    }

    .footer-main_blocklink {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 34%;
        margin: 0 auto;
        text-align: center;
    }

    .footer-main_blocklink {
        width: 84%;
    }

    .footer-main_link {
        margin: 2% auto;
        font-size: 1.3rem;
    }

    .footer-main_logo1 {
        width: 88%;
    }

    .footer-main_logo2 {
        width: 18%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 380px) {

    .footer-main_blocklink {
        width: 94%;
    }

    .footer-main_logo1 {
        width: 94%;
    }

    .footer-main_logo2 {
        width: 20%;
        margin: 0 auto;
    }
}


